<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref Ruqaa Ink&effect=neon|emboss">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        .heading{
            background: antiquewhite;
            height: 35px;
            padding-left: 10px;
            font-family: "Aref Ruqaa Ink";
            padding-bottom: 10px;
        }
        h3{
            display: inline-block;
            padding-left: 10px;
            font-size:50px;
            font-family: "Aref Ruqaa Ink";
        }
    </style>
</head>
<body>
<div>
    <h3 class="font-effect-neon">Nailuv</h3>
</div>
<div class="heading">
    <h2 class="font-effect-emboss">Home</h2>
</div>
</body>
</html>