<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="Styles/base.css" type="text/css">
    <link rel="stylesheet" href="Styles/home.css" type="text/css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">New Photo</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <a href="#"><img class="picture" src="nail1.png"> </a>
        <a href="#"><img class="picture" src="nail2.png"> </a>
    </div>
</body>
</html>